/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  /* Цвета */
  --background-image: url(../images/cover-image-dark.png);
  --main-bg-color: #000028;
  --paragraph-color: #f1b2ce;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --nav-hover-color: rgba(255, 0, 112, 0.4);
  --button-active-color: #ff0070;
  --title-color: #000028;
  --section-title-color: #ff0070;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
}

.theme-dark .header__decorative-text {
  display: inline;
}
