/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --main-bg-color: #fff1f7;
  --paragraph-color: #353430;
  --accent-color: #ff8dcb;
  --nav-color: #353430;
  --nav-hover-color: rgba(50, 49, 45, 0.4);
  --button-active-color: #353430;
  --title-color: #353430;
  --section-title-color: #353430;
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
}

.theme-light .header__decorative-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --main-bg-color: #fff1f7;
    --paragraph-color: #353430;
    --accent-color: #ff8dcb;
    --nav-color: #353430;
    --nav-hover-color: rgba(50, 49, 45, 0.4);
    --button-active-color: #353430;
    --title-color: #353430;
    --section-title-color: #353430;
    --header-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
  }

  .header__decorative-text {
    display: none;
  }
}
