/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  position: relative;
  font-family: var(--main-font), monospace;
  font-size: var(--main-text-size);
  padding: var(--main-gap);
}

/* REC */

.header__decorative-text {
  color: var(--accent-color);
  text-transform: var(--headings-text-transform);
  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: var(--main-gap);
}

.header__decorative-text::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-top: 8px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--nav-color);
  border-inline-end: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

/* Меню шапки */

.header__theme-menu-list {
  display: flex;
  gap: var(--main-gap);
  flex-direction: column;
  justify-self: end;
}

.header__theme-menu-button {
  min-block-size: 26px;
  min-inline-size: 70px;
  text-align: center;
  text-transform: var(--menu-text-transform);
  background-color: transparent;
  color: var(--nav-color);
  border: 1px solid transparent;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button_active {
  border-color: var(--button-active-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 2px solid var(--nav-color);
}

.header__theme-menu-button:hover {
  border-color: var(--nav-hover-color);
}

/* Тайтл */

.header__title {
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: var(--title-line-height);
  justify-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
  font-size: var(--main-text-size);
  font-weight: var(--bold-font-weight);
}

/* Секции */

.content {
  display: grid;
  gap: var(--big-gap);
  padding: 40px 10px;
}
.content__section {
  display: grid;
  gap: var(--small-gap);
  font-family: var(--main-font), monospace;
  font-size: var(--main-text-size);
  font-weight: var(--bold-font-weight);
}

.content__title {
  color: var(--section-title-color);
  font-size: var(--main-text-size);
}

.content__text-block {
  display: grid;
  gap: var(--main-gap);
}

.content__paragraph {
  color: var(--paragraph-color);
  font-weight: var(--norm-font-weight);
  line-height: 130%;
}
/* ссылка */
.section__link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}
.section__link:focus {
  outline: none;
}
.section__link:hover {
  border: none;
  border-bottom: 2px solid var(--paragraph-color);
}

.section__link:focus-visible {
  outline: 1px solid var(--paragraph-color);
  outline-offset: 1px;
}

.content__text-blocks {
  display: grid;
  gap: var(--small-gap);
}

.content__title-paragraph_accent {
  font-weight: var(--norm-font-weight);
}

/* Галлерея */

.content__section-gallery {
  display: grid;
  gap: var(--main-gap);
  font-family: var(--main-font), monospace;
}

.gallery__item {
  display: grid;
  gap: var(--main-gap);
}

.gallery__image {
  inline-size: 355px;
}

/* Футер */

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  position: relative;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-text-size);
  padding: var(--main-gap);
}

.footer__title {
  color: var(--footer-logo-color);
  font-size: var(--footer-logo-size);
  text-shadow: 2px 2px 0 var(--accent-color);
  justify-self: center;
  line-height: var(--title-line-height);
}

/* Планшет 768px */
@media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 0;
  }
  .header__title {
    justify-self: start;
    font-size: var(--header-logo-size);
  }

  .footer__title {
    font-size: var(--footer-logo-size);
  }

  .header__text {
    justify-self: end;
    inline-size: var(--header-text-width);
  }

  .decorated-zone::before {
    inset-inline-end: var(--small-gap);
    inset-block-start: var(--small-gap);
  }

  .decorated-zone::after {
    inset-inline-start: var(--small-gap);
    inset-block-end: var(--small-gap);
  }

  .header__decorative-text {
    inset-inline-end: 48px;
    inset-block-start: var(--small-gap);
  }

  .content {
    gap: var(--large-gap);
    padding: 60px 20px 60px;
  }

  .what__concentration-section {
    grid-template-columns: 1fr;
  }

  .why__concentration-section,
  .how__concentration-section {
    grid-template-columns: 1fr minmax(min-content, 472px);
  }

  .why__concentration-section .content__text-block {
    grid-column: 2;
  }

  .content__title {
    max-inline-size: 236px;
  }

  .content__section-gallery {
    display: grid;
    gap: var(--small-gap);
  }

  .gallery__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--small-gap);
  }
  .gallery__image {
    display: block;
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
  }
  .gallery__image:first-of-type {
    grid-column: span 2;
  }
  .gallery__image:nth-of-type(2) {
    grid-row: span 2;
  }
  .gallery__image:nth-of-type(3) {
    grid-row: span 2;
  }
  .gallery__image:nth-of-type(5) {
    grid-column: span 2;
  }
}

/* 1024px */

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 19px;
    margin-block-start: -2px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .why__concentration-section,
  .how__concentration-section {
    grid-template-columns: 1fr minmax(min-content, 649px);
  }

  .what__concentration-section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .what__concentration-section .content__title {
    grid-column: 1/-1;
  }

  .what__concentration-section .content__text-block {
    grid-template-rows: fit-content(23px);
  }

  .content__title {
    max-inline-size: 315px;
  }
}
